* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.header {
    margin-bottom: 40px;
}

.main__container {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.position {
    margin-bottom: 20px;
}

.btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
}